/* variáveis globais */

:root{
    --icolor: #FAFAFA;
    --iheight: 48px;
    --iwidth: 23px;

}

/* fontes custom */
@font-face {
  font-family: "Myriad";
  src: url('../fonts/Myriad-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Myriad-B";
  src: url('../fonts/Myriad-Bold.ttf') format("truetype");
}

/* body */

body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    }

/* header */
#header{
    grid-area: header;
    color: #FAFAFA;
    height: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    display: block;
    background: url('../img/logo.svg') no-repeat center center;
    height: 58px;
    width: 147px;
    margin-top: 19px;
    margin-left: 5vw;
}

.menus{
    grid-template-areas: "home menu1 menu2 menu3";
    margin-top: 30px;
    margin-right: 200px;

}

#home{
    grid-area: home;
    box-shadow:inset 0px 1px 0px 0px #e76824;
	background-color:#e76824;
	border-radius:2px;
	border:2px solid #e76824;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Myriad";
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e76824;
    margin: 5px;
}

#home:hover{
    background-color:#eb8f61;
}

#home:active{
    position:relative;
	top:1px;
}

#menu1{
    grid-area: menu1;
    box-shadow:inset 0px 1px 0px 0px #FAFAFA;
	background-color:#FAFAFA;
	border-radius:2px;
	border:2px solid #FAFAFA;
	display:inline-block;
	cursor:pointer;
	color:#868686;
	font-family: "Myriad";
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
    margin: 5px;

}

#menu2{
    grid-area: menu2;
    box-shadow:inset 0px 1px 0px 0px #FAFAFA;
	background-color:#FAFAFA;
	border-radius:2px;
	border:2px solid #FAFAFA;
	display:inline-block;
	cursor:pointer;
	color:#868686;
	font-family: "Myriad";
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
    margin: 5px;

}

#menu3{
    grid-area: menu3;
    box-shadow:inset 0px 1px 0px 0px #FAFAFA;
	background-color:#FAFAFA;
	border-radius:2px;
	border:2px solid #FAFAFA;
	display:inline-block;
	cursor:pointer;
	color:#868686;
	font-family: "Myriad";
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
    margin: 5px;

}

/* body content-1 */

#content-1{
    grid-area: content1;
}

#img-1{
    display: block;
    background: url('../img/slide.jpg') no-repeat center center;
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}

.slide-show{
  overflow: hidden;
}

.slides-list{
  --selected-item: 1;
  --total-items: 3;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

/* body content-2 */

#content-2{
    margin-top: 94px;
    grid-area: content2;
    display: grid;
    grid-template-areas: "c2-title" "c2-box";
}

#c2-title-box{
    grid-area: c2-title;
    display: grid;
    grid-template-areas: "c2-b-t" "c2-b-s";
    justify-self: center;
}

#c2-title{
    grid-area: c2-b-t;
    font-family: "Myriad-B";
    font-size: 30px;
    justify-self: center;
}
#c2-sub{
    grid-area: c2-b-s;
    font-family: "Myriad";
    font-size: 16px;
}

#c2-box{
    grid-area: c2-box;
    display: flex;
    /* grid-template-areas: "b1 b2" "b3 b4"; */
    flex-wrap: wrap;
    max-width: 1056.28px;
    flex-direction: row;
    margin-left: 6vw;
    justify-content: space-around;
}

#b1{
    grid-area: b1;
    display: grid;
    max-width: 446.06px;
    margin-top: 50px;
    grid-template-areas: "i1 t1""i1 s1";
}

#i1{
    grid-area: i1;
    display: block;
    background: url(../icons/rhoncus.svg);
    height: 42px;
    width: 41px;
    margin-right: 20px;
}

#t1{
    grid-area: t1;
    font-family: "Myriad";
    font-size: 16px;
}

#s1{
    grid-area: s1;
    margin-top: 12px;
    font-family: "Myriad";
    font-size: 13px;
}

#b2{
    grid-area: b2;
    display: grid;
    margin-top: 50px;
    max-width: 446.06px;
    grid-template-areas: "i2 t2""i2 s2";
}

#i2{
    grid-area: i2;
    display: block;
    background: url(../icons/mattis.svg);
    height: 46px;
    width: 44px;
    margin-right: 20px;

}

#t2{
    grid-area: t2;
    font-family: "Myriad";
    font-size: 16px;
}


#s2{
    grid-area: s2;
    margin-top: 12px;
    font-family: "Myriad";
    font-size: 13px;
}

#b3{
    grid-area: b3;
    display: grid;
        margin-top: 27.6px;

    max-width: 446.06px;
    grid-template-areas: "i3 t3""i3 s3";
}

#i3{
    grid-area: i3;
    display: block;
    background: url(../icons/elementum.svg);
    height: 47px;
    width: 38px;
    margin-right: 20px;

}

#t3{
    grid-area: t3;
    font-family: "Myriad";
    font-size: 16px;
}


#s3{
    grid-area: s3;
    font-family: "Myriad";
    margin-top: 12px;
    font-size: 13px;
}

#b4{
        margin-top: 27.6px;

    grid-area: b4;
    display: grid;
    max-width: 446.06px;
    grid-template-areas: "i4 t4""i4 s4";
}

#i4{
    grid-area: i4;
    display: block;
    background: url(../icons/mauris.svg);
    height: 47px;
    width: 47px;
    margin-right: 20px;

}

#t4{
    grid-area: t4;
    font-family: "Myriad";
    font-size: 16px;
}


#s4{
    grid-area: s4;
    margin-top: 12px;
    font-family: "Myriad";
    font-size: 13px;
}

/* body content 3 */

#content-3{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    background-color: #FFC40C;
}

#c3-img{
    background: url(../img/sobre.jpg) no-repeat center center;
    max-width: 851px;
    min-width: 200px;
    min-height: 500px;
    max-height: 621px;
}

#c3-grid{
    display: grid;
    margin-top: 85px;
    margin-left: 40px;
    grid-template-areas: "c3-t" "c3-tx" "c3-info";
    grid-template-columns: 1fr;
    justify-self: start;
}

#c3-t{
    grid-area: c3-t;
    font-family: Myriad;
    font-weight: bold;
    color: var(--icolor);
    font-size: 30px;
    justify-self: start;
}

#c3-tx{
    margin-top: 19px;
    color: var(--icolor);
    grid-area: c3-tx;
    font-family: Myriad;
    font-size: 14px;
    justify-self: stretch;

}

.img {
  max-width: 100%;
  height: auto;
}

#c3-info{
    /* n sei pq n quer funcionar */
    /* display: block;
    grid-area: c3-info;
    background: url(../img/layout-onepage-graphs.png) no-repeat center center;
    max-width: 580px;
    min-width: 200px;
    max-height: 75px;
    min-height: 50px;
    margin-top: 20px;
    margin-bottom: 70px;
    justify-self: stretch; */
    margin-bottom: 55px;
    margin-top: 23px;
}

#content-4{
    margin-top: 100px;
    grid-area: content4;
    display: grid;
    grid-template-areas: "c4-title" "c4-content" "c4-button";
}

#c4-title{
    grid-area: c4-title;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    justify-self: center;
}

#c4-content{
    grid-area: c4-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px 120px);
    margin: 10px;
    box-sizing: border-box;
    justify-content: center;
}

#c4-card{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(10px, 87px));
    grid-template-columns: 1fr;
}

#c4-i-1{
    display: block;
    background: url(../icons/world.svg) no-repeat center center;
    /* height: 86px;
    width: 86px; */
}

#c4-i-2{
    display: block;
    background: url(../icons/top-arrow.svg) no-repeat top center;
    /* width: 127.6px;
    height: 36px; */
}

#c4-i-3{
    display: block;
    background: url(../icons/market-car.svg) no-repeat center center;
    /* width: 72px;
    height: 74px; */
}

#c4-i-4{
    display: block;
    background: url(../icons/bottom-arrow.svg) no-repeat bottom center;
    /* height: 36px;
    width: 129px; */
}

#c4-i-5{
    display: block;
    background: url(../icons/like.svg) no-repeat center center;
    /* height: 80px;
    width: 72px; */
}

#c4-i-6{
    display: block;
    object-fit: cover;
    background: url(../icons/truck.svg) no-repeat center center;
    /* height: 70px;
    width: 87px; */
}

#c4-button{
    grid-area: c4-button;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 80px;
    justify-content: center;
   
}

.c4-button {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background-color:#089c03;
	border:1px solid #089c03;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Myriad;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.c4-button:hover {
	background-color:#72b352;
}
.c4-button:active {
	position:relative;
	top:1px;
}

/* body content 5 */
#content-5{
grid-area: content5;
background-color: #00B8E2;
display: grid;
grid-template-areas: "c5-title" "c5-content";
}

#c5-title{
    grid-area: c5-title;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.title{
    font-family: "Myriad-B";
    font-size: 30px;
    color: var(--icolor);
}

.title-black{
    font-family: "Myriad-B";
    font-size: 30px;
}

.subtitle{
    font-family: Myriad;
    font-size: 16px;
    color: var(--icolor);
}

.subtitle-black{
    font-family: Myriad;
    font-size: 16px;
}

#c5-content{
    grid-area: c5-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, 296px);
    margin: 10px;
    box-sizing: border-box;
    justify-content: center;
}

#icon1{
    display: block;
    background:url(../icons/person.svg) no-repeat center center;
    height: 21px;
    width: 19px;
}
#icon2{
    background:url(../icons/message.svg) no-repeat center center;
    height: 15px;
    width: 21px;
}
#icon3{
    background:url(../icons/phone.svg) no-repeat center center;
    height: 19px;
    width: 18px;
}
input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
  margin: 19px;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}


#c5-button {
	background-color:transparent;
	cursor:pointer;
	color:#ffffff;
	font-family:Myriad;
	font-size:13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    align-self: center;
}

#content-6{
    grid-area: content6;

}