<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Cubo</title>
</head>



<body>

    <section id="header">
        <div class="logo"></div>
        <div class="menus">
            <a href="#" id="home">HOME</a>
            <a href="#" id="menu1">MENU 1</a>
            <a href="#" id="menu2">MENU 2</a>
            <a href="#" id="menu3">MENU 3</a>
        </div>
    </section>
    <section id="content-1">
        <div class="slide-show">
            <ul class="slides-list">
                <li class="slide">
                    <a id="img-1"></a>
                </li>
                <li class="slide">
                    <img src="{{ url_for('static', filename='img/slide.jpg') }}" />
                </li>
                <li class=" slide">
                    <img src="" />
                </li>
            </ul>
        </div>
        <input type="radio" class="slide-controller" name="slide" />
        <input type="radio" class="slide-controller" name="slide" />
        <input type="radio" class="slide-controller" name="slide" />
    </section>
    <section id="content-2">
        <div id="c2-title-box">
            <a id="c2-title">SERVIÇOS</a>
            <a id="c2-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
        </div>
        <section id="c2-box">
            <div id="b1">
                <a id="i1"></a>
                <a id="t1">RHONCUS PURUS IN</a>
                <a id="s1">Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non
                    massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas.</a>
            </div>
            <div id="b2">
                <a id="i2"></a>
                <a id="t2">RHONCUS PURUS IN</a>
                <a id="s2">Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non
                    massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas.</a>
            </div>
            <div id="b3">
                <a id="i3"></a>
                <a id="t3">RHONCUS PURUS IN</a>
                <a id="s3">Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non
                    massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas.</a>
            </div>
            <div id="b4">
                <a id="i4"></a>
                <a id="t4">RHONCUS PURUS IN</a>
                <a id="s4">Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non
                    massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas.</a>
            </div>
        </section>
        </div>
    </section>
    <section id="content-3">
        <div id="c3-img">
        </div>
        <div id="c3-grid">
            <a id="c3-t">SOBRE NÓS</a>
            <a id="c3-tx">In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut aliquet fermentum leo eu
                vestibulum. Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu sem
                lobortis, rhoncus purus in, mattis augue. Proin nec tempor ipsum. Sed eu libero at arcu dictum rhoncus.
                Vestibulum at tempus felis. Vestibulum mattis tincidunt eleifend.In sit amet mi sollicitudin, maximus
                risus sed, eleifend turpis. Ut aliquet fermentum leo eu vestibulum. Aliquam vitae iaculis neque. Proin
                vitae quam ac lectus fermentum viverra. Vestibulum eu sem lobortis, rhoncus purus in, mattis augue.
                Sed eu libero at arcu dictum rhoncus. Vestibulum at tempus felis. Vestibulum mattis tincidunt
                eleifend.</a>
            <img id="c3-info" class="img" src="{{url_for('static', filename='img/layout-onepage-graphs.png')}}">
        </div>
    </section>
    <section id="content-4">
        <a id="c4-title">COMO FUNCIONA?</a>
        <div id="c4-content">

            <div id="c4-card">
                <a id="c4-i-1"></a>
                <a class="title-black">PASSO 1</a>
                <a class="subtitle-black">Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna,
                    ut dignissim ligula est at erat.</a>
            </div>

            <a id="c4-i-2"></a>

            <div id="c4-card">
                <a id="c4-i-3"></a>
                <a class="title-black">PASSO 2</a>
                <a class="subtitle-black">Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna,
                    ut dignissim ligula est at erat.</a>
            </div>

            <a id="c4-i-4"></a>

            <div id="c4-card">
                <a id="c4-i-5"></a>
                <a class="title-black">PASSO 3</a>
                <a class="subtitle-black">Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna,
                    ut dignissim ligula est at erat.</a>
            </div>

            <a id="c4-i-2"></a>

            <div id="c4-card">
                <a id="c4-i-6"></a>
                <a class="title-black">PASSO 4</a>
                <a class="subtitle-black">Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna,
                    ut dignissim ligula est at erat.</a>
            </div>

        </div>
        <div id="c4-button">
            <a class="c4-button">LEIA MAIS</a>
        </div>
    </section>
    <section id="content-5">
        <div id="c5-title">
            <a class="title">CADASTRE-SE</a>
            <a class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
        </div>
        <div id="c5-content">
            <div class="inputWithIcon">
                <input type="text" placeholder="Nome">
                <i id="icon1" aria-hidden="true"></i>
            </div>
            <div class="inputWithIcon">
                <input type="text" placeholder="Email">
                <i id="icon2" aria-hidden="true"></i>
            </div>
            <div class="inputWithIcon">
                <input type="text" placeholder="Telefone">
                <i id="icon3" aria-hidden="true"></i>
            </div>
            <a id="c5-button">ENVIAR</a>
        </div>
    </section>
    <section id="content-6">
        <a class="title-black">DADOS</a>
        <a class="subtitle-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
        <div id="c6-box">
            <a id="c6-img-1"></a>
            <a id="c6-img-2"></a>
        </div>
    </section>
    <div class="hline"></div>
    <section id="content-7">
        <div id="c7-container">
            <a class="title-2">Cubo</a>
            <a class="subtitle-2">Rua Casa do Ator, 919
            </a>
            <a class="subtitle-2">04546-003 - São Paulo - SP</a>
            <a class="subtitle-2">contato@cubo.networkdfdf</a>
        </div>
        <div id="c7-menu">
            <a class="facebook"></a>
            <a class="google"></a>
            <a class="twitter"></a>
            <a class="youtube"></a>

        </div>
    </section>
    <section id="footer">
        <a class="subtitle" id="footer">© copyright 2016 - Lorem ipsum dolor sit amet consectetur</a>
    </section>
</body>

</html>